* {
    box-sizing: border-box;
}
body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}
.main {
    max-width: 1000px;
    margin: auto;
}
h1 {
    font-size: 50px;
    word-break: break-all;
}
.row {
    margin-left: 200px;
}
.row,
.row > .column {
    padding: 8px;
}
.column {
    width: 600px;
    display: none;
    margin-left: auto;
    margin-right: auto;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.content {
    background-color: white;
    padding: 10px;
}
.show {
    display: block;
}
#tabLayout{
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 3;
    overflow: hidden;
    background-color: #666666;
}
#openScoreLayout{
    width: 300px;
    position: fixed;
    top:0;
    right: 0;
    height: 100%;
    background-color: #666666;
    transition: 0.5s;
}
#closeScoreLayout{
    width: 50px;
    position: fixed;
    top:0;
    right: 0;
    height: 100%;
    background-color: #666666;
    transition: 0.5s;
}
#feed-container{
    display: none;
    background-color: #818181;
}
.btn {
    border: none;
    width: 100%;
    outline: none;
    background-color: white;
    cursor: pointer;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.feed-sub{
    background-color: #818181;
    color:white;
}
.btn:hover {
    background-color: #ddd;
}
.btn.active {
    background-color: #666;
    color: white;
}
.flip{
    -webkit-transition: linear 0.5s;
    -moz-transition: linear 0.5s;
    -o-transition: linear 0.5s;
    transition: linear 0.5s;
}
.down{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
#lower-menu{
    position: fixed;
    bottom: 0;
    width: 200px;
    left: 0;
}