* {
    box-sizing: border-box;
}
body {
    background-color: #d5e8e6;
    padding: 0px;
    font-family: Lucida Bright;
}
.main {
    max-width: 1000px;
    margin: auto;
}
h1 {
    font-size: 50px;
    word-break: break-all;
}
.row {
    margin-left: 150px;
}
.row,
.row > .column {
    padding: 8px;
    position: relative;
}
.column {
    display: none;
    flex-wrap: wrap;
    max-width: 60%;
    flex: 60%;
    margin-right: auto;
    margin-left: auto;
    padding:10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.content {
    background-color: white;
    padding: 10px;
}
.show {
    display: block;
}
#tabLayout{
    width: 220px;
    position: fixed;
    top: 66px;
    left: 0;
    height: 100%;
    z-index: 3;
    font-size: 17px;
    overflow: hidden;
    background-color: white;
}
#tabLayout a{
    font-size: 18px;
    font-weight: bold;
}
#openScoreLayout{
    width: 330px;
    position: fixed;
    top:35px;
    right: 0;
    height: 90%;
    background-color: #c0392b;
    transition: 0.5s;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
}
#closeScoreLayout{
    width: 50px;
    position: fixed;
    top:80px;
    right: 0;
    height: 45px;
    background-color:black;
    transition: 0.5s;
    z-index: 1;
}
#closeScoreLayout:hover{
    background-color: #e74c3c;
    cursor: pointer;
}
#feed-container{
    display: none;
    background-color: #0070ab;
}
.btn {
    border: none;
    width: 100%;
    outline: none;
    background-color: black;
    cursor: pointer;
    padding: 8px 8px 8px 19px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    height: 62.11px;
    line-height: 45px;
    border-bottom: 1px dashed grey;
}
#lower-menu-dropdown{
    position: fixed;
    top:60px;
    right: 0;
    display: none;
    z-index: 2;
}
#lower-menu-dropdown a{
    font-size: 16px;
}
#lower-menu-dropdown .btn{
    height: 45px;
    line-height: 25px;
}
.feed-sub{
    background-color: black;
    color:white;
    border-left: 10px solid #4db1e8;
    height: 45px;
    line-height: 30px;
    padding-left: 60px;
}
.btn.active {
    background-color: white;
    color: black;
}
.flip{
    -webkit-transition: linear 0.5s;
    -moz-transition: linear 0.5s;
    -o-transition: linear 0.5s;
    transition: linear 0.5s;
}
#tabLayout-icons{
    position: fixed;
    display: none;
    bottom: 0;
    width: 100%;
    height: 50px;
    z-index: 6;
}
#tabLayout-icons a{
    float: left;
    padding: 16px 6px;
    width: 20%;
    font-size: 24px;
    text-align: center;
}
.down{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
#lower-menu{
    position: fixed;
    bottom: 0;
    width: 220px;
}
#feed-container-icon{
    display: none;
    position: fixed;
    bottom: 50px;
    left:20%;
    z-index: 1;
}
#feed-container-icon a{
    font-size: 16px;
    padding-left: 23px;
    padding-right: 10px;
}
#feed-container-icon .btn{
    border-left: 5px solid #4db1e8;
}
#feed-container-icon .btn:hover{
    background-color: #336987;
}
#contact{
    display: none;
}
#openScoreLayout::-webkit-scrollbar-thumb{
    background-color: default;
}
#openScoreLayout::-webkit-scrollbar-track{
    background-color: default;
}
#openScoreLayout::-webkit-scrollbar{
    width:5px;
}

@media screen and (max-width:950px ) {
    .column{
        flex:80%;
        max-width: 80%;
    }
}
@media screen and (max-width:750px ) {
    .column{
        flex:80%;
        max-width: 80%;
    }
    .row{
        margin-left: 0;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    #closeScoreLayout{
        width: 100%;
        position: fixed;
        top:0;
        height: 60px;
        background-color: black;
        transition: none;
    }
    #tabLayout{
        width:100%;
        height: 50px;
        position: fixed;
        bottom: 0;
        top: auto;
        box-shadow: #dddddd -1px -5px 5px;
    }
    #lower-menu{
        display: none;
    }
    #tabLayout a{
        float: left;
        padding: 16px 6px;
        width: 20%;
        font-size: 14px;
        text-align: center;
        line-height: 2px;
    }
    #contact{
        float: right;
        display: block;
        position: fixed;
        top:0;
        right: 10px;
    }
    #small-progress-circle{
        float: none;
        position: fixed;
        top:30px;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
    }
    #display-btc{
        position: fixed;
        top:0;
        left:15%;
    }
    #openScoreLayout{
        width: 100%;
        height: 100%;
        top: 0;
    }
}
@media screen and (max-width: 590px){
    #tabLayout{
        display: none;
    }
    #tabLayout-icons{
        display: block;
    }
    .feed-feed:hover #feed-container{
        display: block;
    }
    .column{
        flex:100%;
        max-width: 100%;
    }
    body{
        padding: 0;
        margin: 0;
    }
    .row{
        padding: 0;
        margin-top: 60px;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 270px) {
    #display-btc{
        display: none;
    }
}
@media screen and (max-height: 310px){
    #lower-menu{
        display: none;
    }
    #contact{
        display: block;
    }
}
#top_navbar_container{
    position: fixed;
    top: 0px;
    height: 66px;
    width: 100%;
    background-color: black;
    left: 0px;
    z-index: 1;
}
#x-money{
    color: gold;
    position: relative;
    top: -10px;
}
.btn_home:hover{
    background-color: #e67e22;
    color: white;
}
.btn_feed:hover{
    background-color: #3498db;
    color: white;
}
.btn_stockcricket:hover{
    background-color: #2ecc71;
    color: white;
}
.btn_quiz:hover{
    background-color: #9b59b6;
    color: white;
}
.btn_coupons:hover{
    background-color: #1abc9c;
    color: white;
}
.btn_feed_sub:hover{
    background-color: #336987;
    color: white;
}
.btn_share:hover{
    background-color: #f1c40f;
    color: white;
}
.btn_feedback:hover{
    background-color: #e67e22;
    color: white;
}
.btn_contact:hover{
    background-color: #3498db;
    color: white;
}
.btn_logout:hover{
    background-color: #e74c3c;
    color: white;
}
.btn_logout{
    border-bottom: none;
}