body{
    background-color: #ecf0f1;
}
.steps{
    width: 80%;
    height: 80%;
    background-color: #0e0e92;
    opacity: 0.9;
    margin-bottom: 100px;
}
.steps_div{
    height: 100px;
    background-image: linear-gradient(to bottom, #ff7b0d 0%,#ffa84c 100%);
    position: relative;
    width: 650px;
    left: 380px;
    margin-bottom: 20px;
    margin-top: -2px;
    border-radius: 80px;
}
.steps_div:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0px;
    right: 290px;
    background-image: linear-gradient(to bottom, #ff7b0d 0%,#ffa84c 100%);
    -webkit-transform: skewX(45deg);
    -moz-transform: skewX(45deg);
    -ms-transform: skewX(45deg);
    -o-transform: skewX(45deg);
    transform: skewX(45deg);
    z-index: -1;
}
.steps_div:after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0px;
    right: 290px;
    background-image: linear-gradient(to bottom, #ff7b0d 0%,#ffa84c 100%);
    -webkit-transform: skewX(-45deg);
    -moz-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    -o-transform: skewX(-45deg);
    transform: skewX(-45deg);
    z-index: -1;
}
#steps_container{
    margin-top: -20px;
}
.steps_content{
    font-size: 28px;
    color: white;
    text-align: center;
    position: relative;
    left: -250px;
    top: 20px;
    font-weight: bold;
}
.progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
    top: -50px;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.pbar{
    background-color: #049dff;
    height: inherit;
    border-radius: 10px;
    text-align: center;
    animation: loading 1s linear forwards;
}
@keyframes loading {
    0%{
        width:0;
    }
}
.ptrack{
    width:100%;
    height: 20px;
    background-color:#ab8f8c;
    border-radius: 10px;
    margin-bottom: 10px;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    animation: loading-1 1s linear forwards;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-2 1s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: black;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.blue .progress-bar{
    border-color: orange;
}
#container-div{
    width:300px;
    height:max-content;
    padding: 20px 20px 0px 0;
    margin-right: 20px;
}
.btns{
    color: #000;
    background-color: white;
    border:deepskyblue solid 1px;
    border-radius: 10px;
}
.btns:hover{
    background-color: deepskyblue;
    color:white;
}
.daily-task-list{
    margin-top: 30px;
    list-style: none;
    font-size: 16px;
    text-align: left;
    padding-left: 10px;
    padding-bottom: auto;
    padding-top: auto;
}
.daily-task{
    position: relative;
    top: -65px;
    left: 10px;
}
.daily-task-div{
    background-color: #ddd;
    margin-top: 20px;
    height: max-content;
    padding: 10px;
    border: 3px solid #1b32a5;
    border-radius: 10px;
    outline: none;
}
.daily-task-div:hover{
    cursor: pointer;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
#x-money-div{
    height: 100px;
    width: max-content;
    margin-left:auto;
    margin-right: auto;
    display: none;
    z-index: 5;
    color: yellow;
    text-shadow: 3px 1px #0e0e92;
    font-weight: bolder;
}
::selection{
    color:white;
    background-color: black;
}
::-moz-selection{
    color:white;
    background-color: black;
}
body::-webkit-scrollbar{
    width: 5px;
}
body::-webkit-scrollbar-thumb{
    background-color: black;
}
body::-webkit-scrollbar-track{
    background: initial;
}
.emi_tracker{
    width: 80%;
    height: 365px;
    margin-bottom: 40px;
    overflow-x: auto;
    overflow-y: hidden;
    /*background-image: linear-gradient(to bottom, #ff7b0d 0%,#ffa84c 100%);*/
    cursor:pointer;
    border-radius:20px ;
    box-shadow: -1px -1px 5px 1px grey;
    /*background-color: whitesmoke;*/
}
.progressbar{
    counter-reset: step;
    margin-top: 200px;
    margin-left: -50px;
    display: inline-flex;
}
.progressbar li{
    list-style-type: none;
    float: left;
    width: 150px;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: 18px;
    color: #524b4b;
}
.progressbar li:before{
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 29px;
    border: 2px solid #524b4b;
    display: block;
    text-align: center;
    margin: 0 auto 20px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar li:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #524b4b;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after{
    content: none;
}
.progressbar li.active{
    color: #007300;
    font-size: 18px;
    font-weight: bolder;
}
.progressbar li.active:before{
    border-color: #007300;
    content: "\2714";
}
.progressbar li.active+li:after{
    background-color: #007300;

}
.progressbar li.default{
    color: red;
    font-size: 18px;
    font-weight: bolder;
}
.progressbar li.default:before{
    border-color: red;
    content: "\2714";
}
.progressbar li.default+li:after{
    background-color: red;
}
.progressbar li.defaulter{
    color: red;
    font-size: 18px;
    font-weight: bolder;
}
.progressbar li.defaulter:before{
    border-color: red;
    content: "\2718";
}
.progressbar li.upnext{
    color: #0e0e92;
    font-size: 18px;
    font-weight: bolder;
}
.progressbar li.upnext:before{
    border-color: #0e0e92;
}
.installment{
    margin-left: 29px;
    font-size: 19px;
    font-weight: bolder;
    width: 100%;
    margin-top: 65px;
    color: #0e0e92;
}
.loan_type{
    font-size: 23px;
    font-weight: bolder;
    margin-top: 15px;
    margin-left: 31%;
    color: white;
    background-color: #0e0e92;
    width: 260px;
    padding: 7px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.days_left{
    margin-left: 450px;
    padding: 5px;
    height: 40px;
    border: 3px solid #0e0e92;
    cursor: default;
    position: absolute;
    top: 70px;
    line-height: 1.35;
    font-size: 18px;
    color: #0e0e92;
    font-weight: bolder;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
p,span,h1,h2,h3,h4,h5,h6,dt,div{
    cursor: default;
}
.pay_btn{
    background: none;
    border: 2px solid #0e0e92;
    color: #0e0e92;
    background-color: white;
    padding: 7px 20px;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    position: absolute;
    right: 330px;
    top: 305px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    outline: none;
}
.pay_btn:hover{
    background-color: #0e0e92;
    color: white;
}
#emi-info{
    height: 70px;
    width: 100%;
    position: absolute;
}
#progressbar_container{
    position: relative;
    top: 60px;
    left: 310px;
}
#tag_emi{
    font-size: 35px;
    font-weight: bolder;
    margin-top: -30px;
    color: whitesmoke;
    margin-left: 40px;
    /*border: 5px solid #0e0e92;*/
    padding: 20px;
    width: 90%;
    text-align: center;
}
#emi_pay{
    border: 3px solid #0e0e92;
    padding: 10px;
    position: relative;
    width: 35%;
    left: 310px;
    text-align: center;
    padding: 2px;
    margin-top: 28px;
    font-size: 28px;
    font-weight: bolder;
    border: 2px solid whitesmoke;
    color: whitesmoke;
}
#emi_pay a,#emi_pay a:visited,#emi_pay a:link,#emi_pay a:hover,#emi_pay a:focus{
    text-decoration: none;
    color: whitesmoke;
}
#emi_pay:hover{
    background-color:darkorange;
    color: whitesmoke;
    cursor: pointer;
}
#emi_pay:hover{
    background-color: #0e0e92;
    color: whitesmoke;
    cursor: pointer;
}
#emi_progress{
    font-size: 30px;
    font-weight: bolder;
    color: #0e0e92;
}
hr{
    width: 90%;
    position: relative;
    top: -15px;
    left: -85px;
    color: red;
    font-weight: bolder;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.marker-pos{
    position:absolute;
    bottom: 105%;
    right:50%;
    color: #0e0e92;
    transform: translateX(50%);
    font-size: 35px;
    animation: bounce 2s forwards;
}
.stars{
    position:absolute;
    bottom: 105%;
    right:50%;
    transform: translateX(50%);
    font-size: 18px;
    animation: bounce 2s forwards;
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translate(50%,0);
    }
    40% {
        -webkit-transform: translate(50%,-30px);
    }
    60% {
        -webkit-transform: translate(50%,-15px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translate(50%,0);
    }
    40% {
        transform: translate(50%,-30px);
    }
    60% {
        transform: translate(50%,-15px);
    }
}
.due-date{
    position: absolute;
    bottom: -30px;
    left:20px;
    /*background-color: #0e0e92;*/
    color: #0e0e92;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 8px;
    font-size: 19px;
    font-weight: bolder;
}
.fa-star{
    color:white;
    -webkit-text-stroke-color: brown;
    -webkit-text-stroke-width: 1px;
}
.fa-star:nth-child(2){
    top:50%;
    position: absolute;
    right: 100%;
}
.fa-star:nth-child(1){
    top:50%;
    position: absolute;
    left: 100%;
}
.fa-star:nth-child(3){
    font-size: 24px;
}
.one-star{
    color: gold;
    -webkit-text-stroke-color: brown;
    -webkit-text-stroke-width: 1px;
}
.def-star{
    color: red;
    -webkit-text-stroke-color: brown;
    -webkit-text-stroke-width: 1px;
}
#x_money_div{
    float: right;
    right:230px;
    top:-40px;
    position: relative;
    width: max-content;
    background-image: linear-gradient(to bottom, #ff7b0d 0%,#ffa84c 100%);
    color:yellow;
    text-shadow: 2px 1px #0e0e92;
    font-weight: bolder;
    font-size: 25px;
    padding: 9px;
    border-radius: 10px;
}
.emi_tracker::-webkit-scrollbar{
    height: 5px;
}
.emi_tracker::-webkit-scrollbar-thumb{
    background-color: black;
}
.emi_tracker::-webkit-scrollbar-track{
    background: none;
}
