.quiz_body{
    font-size: 20px;
    font-family: monospace;
    margin: 0;
    cursor: pointer;
}
::selection{
    background: none;
}
#container{
    margin : auto;
    background-color: #f47361;
    height: 500px;
    width : 800px;
    box-shadow: 0 2px 5px 0;
    position: relative;
    top:60px;
}
#start{
    font-size: 35px;
    font-weight: bolder;
    width:400px;
    height:100px;
    border : 4px solid white;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    position: absolute;
    left:150px;
    top:180px;
    color : white;
}
#start:hover{
    border: 4px solid #5652ea;
    color : #5652ea;
    background-color: white;
}
#question{
    width:500px;
    height : 125px;
    position: absolute;
    color: white;
    font-weight: bolder;
    font-size: 28px;
    left:50%;
    top:10px;
    transform: translateX(-50%);
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}
#choices{
    width : 700px;
    position: relative;
    right : 0;
    top : 100px;
    padding : 10px;
    left:-30px;
}
.choice{
    width : 100%;
    text-align: center;
    border : 2px solid white;
    cursor: pointer;
    padding : 5px;
    color: white;
    margin: 5px auto 25px;
}
.choice:hover{
    border : 2px solid #5652ea;
    color: #5652ea;
    font-weight: bold;
    background-color: white;
}
#timer{
    position: absolute;
    height : 100px;
    width : 200px;
    bottom : 0;
    text-align: center;
}
#counter{
    font-size: 2em;
    color: white;
    font-weight: bolder;
}
#btimeGauge{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left : 25px;
}
#timeGauge{
    height : 10px;
    border-radius: 10px;
    background-color: #5652ea;
    margin-top : -10px;
    margin-left : 25px;
}
#progress{
    width : 500px;
    position: absolute;
    bottom : 0;
    right : 0;
    padding: 5px;
    text-align: right;
}
.prog{
    width : 30px;
    height : 30px;
    border: 3px solid #fff;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 10px;
}
#scoreContainer{
    margin : 20px auto;
    background-color: white;
    height: 500px;
    width : 800px;
    box-shadow: 0 2px 5px 0;
    position: relative;
    display: none;
}
#scoreContainer p{
    position: absolute;
    display: block;
    width : 100%;
    height: 150px;
    top:140px;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    color: #5652ea;
}